
<div class="row">

	<div class="col-sm-5 input-window">
		<p><%= content %></p>
		<form>
			<div class="form-group">
				<textarea class="sql-input" placeholder="Type query here..."  data-answer="<%= answer %>"><%= query %></textarea>
			</div>
			<div class="form-group text-right">
				<% if answer %>
					<input type="button" class="show-answer btn btn-default" value="Show Answer">
				<% end %>
				<input type="submit" class="btn btn-primary">
			</div>
		</form>
	</div>

	<div class="col-sm-7 well output-window">
		<div class="output-text">
			<h3>Output Screen</h3>
			<p>Press "submit" to see result</p>
		</div>
	</div>
</div>
