<!-- Nav tabs -->
<ul class="nav nav-tabs">
	<li class="active"><a href="#ex1" data-toggle="tab"><strong>Example 1</strong></a></li>
	<li><a href="#q1" data-toggle="tab"><strong>Question 1<s/trong></a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content top-buffer">
	<div class="tab-pane active" id="ex1">
		<%= render 'sql_window',
		answer: nil,
		section_content: 'To display just the country name and population, replace the * with "name, population"',
		query_statement: 'SELECT
name, population
FROM
world' %>
	</div>
	<div class="tab-pane" id="q1">

		<%= render 'sql_window',
		answer: 'answer1',
		section_content: 'Display the name and area from table "world."',
		query_statement: nil%>
	</div>
</div>