<div class="text-center">
<h5>Table Name: world</h5>
</div>

<table class="table table-striped">

<tbody><tr>

	  <th>name</th>

	  <th>region</th>

	  <th>area</th>

	  <th>population</th>

	  <th>gdp</th>

</tr>


	<tr>

		  <td>Afghanistan</td>

		  <td>South Asia</td>

		  <td>652,225</td>

		  <td>26,000,000</td>

		  <td>0</td>

	</tr>

	<tr>

		  <td>Albania</td>

		  <td>Europe</td>

		  <td>28,728</td>

		  <td>3,200,000</td>

		  <td>6,656,000,000</td>

	</tr>

	<tr>

		  <td>Algeria</td>

		  <td>Middle East</td>

		  <td>2,400,000</td>

		  <td>32,900,000</td>

		  <td>75,012,000,000</td>

	</tr>

	<tr class="short-row">
		  <td>...</td>
		  <td>...</td>
		  <td>...</td>
		  <td>...</td>
		  <td>...</td>
	</tr>

	<tr>

		  <td>Zambia</td>

		  <td>Africa</td>

		  <td>752,614</td>

		  <td>11,000,000</td>

		  <td>4,950,000,000</td>

	</tr>

	<tr>

		  <td>Zimbabwe</td>

		  <td>Africa</td>

		  <td>390,759</td>

		  <td>12,900,000</td>

		  <td>6,192,000,000</td>

	</tr>

</tbody></table>
<div class="text-right show-table-footer">
<small>Note: table is compressed.</small>
</div>