<div class="text-center">
<h4>Table Name: world</h4>
</div>

<table class="table table-striped">

<tbody><tr>
  
	  <th>name</th>
  
	  <th>region</th>
  
	  <th>area</th>
  
	  <th>population</th>
  
	  <th>gdp</th>
  
</tr>


	<tr>
	  
		  <td>Afghanistan</td>
	  
		  <td>South Asia</td>
	  
		  <td>652225</td>
	  
		  <td>26000000</td>
	  
		  <td></td>
	  
	</tr>

	<tr>
	  
		  <td>Albania</td>
	  
		  <td>Europe</td>
	  
		  <td>28728</td>
	  
		  <td>3200000</td>
	  
		  <td>6656000000</td>
	  
	</tr>

	<tr>
	  
		  <td>Algeria</td>
	  
		  <td>Middle East</td>
	  
		  <td>2400000</td>
	  
		  <td>32900000</td>
	  
		  <td>75012000000</td>
	  
	</tr>

	<tr>
	  
		  <td>Andorra</td>
	  
		  <td>Europe</td>
	  
		  <td>468</td>
	  
		  <td>64000</td>
	  
		  <td></td>
	  
	</tr>

</tbody></table>
<div class="text-right show-table-footer">
<small>Note: Table is truncated.</small>
</div>