<style>
.intro {
	height: 500px;
	padding-top: 200px;
	text-align: center;
	background: url('<%= image_url("wheat6.jpg") %>');
	background-size: cover;
	color: white;
	font-family: 'Ruluko', sans-serif;
}
</style>

<div class="jumbotron intro">
  <h1>Hello there!</h1>
  <p>Welcome to SQL-PQL ("sequel prequel") an interactive SQL learning guide.</p>
  <p><%= link_to 'Start Learning', section_one_url, class: 'btn btn-lg btn-primary' %></p>
</div>