<h1>SQL PQL</h1>

<div class="row">
	<div class="input-window">
		<form>
			<textarea class="sql-input" placeholder="SQL command goes here..."></textarea>
			<input type="submit">
		</form>
	</div>
	<div class="output-window">
	</div>
</div>
