<style>
.intro {
	height: 500px;
	padding-top: 200px;
	text-align: center;
	background: url('<%= image_url("wheat7.jpg") %>');
	background-size: cover;
	color: white;
}
</style>

<div class="jumbotron intro">
  <h1>Hello there!</h1>
  <p>Welcome to SQL-PQL ("sequel prequel") an interactive SQL learning guide.</p>
  <p><a class="btn btn-lg btn-success" href="lesson/0">Start Learning</a></p>

</div>