// Place all the styles related to the Static_Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sql-input {
	width: 100%;
	height: 180px;
	resize: none;
	padding: 10px;

	background-color: #2c3e50;
	color: white;
	font-size: small;
	font-family: "Lucida Console", Monaco, monospace;
//	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.output-window {
	height: 300px;
	overflow-y: scroll;
}

.top-buffer {
	margin-top:10px;
}

.output-text {
	color: #CCC;
	text-align: center;
}

.sql-error {
	font-family: "Lucida Console", Monaco, monospace;
}

.fa6 {
	font-size: 20em;
	opacity: 0.05;
	margin-top: -.6em;
}

.center-middle {
	text-align: center;
	vertical-align: middle;
}