// Place all the styles related to the Static_Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sql-input {
  display: none;
}

.CodeMirror {
	width: 100%;
	height: 180px;
	padding: 10px;
  background: #002240;
	color: white;
	font-size: small;
	font-family: "Lucida Console", Monaco, monospace;
  div.CodeMirror-selected { background: #b36539 !important; }
  .CodeMirror-gutters { background: #002240; border-right: 1px solid #aaa; }
  .CodeMirror-guttermarker { color: #ffee80; }
  .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
  .CodeMirror-linenumber { color: #d0d0d0; }
  .CodeMirror-cursor { border-left: 1px solid white !important; }
  span.cm-comment { color: #08f; }
  span.cm-atom { color: #845dc4; }
  span.cm-number, .cm-s-cobalt span.cm-attribute { color: #ff80e1; }
  span.cm-keyword { color: #ffee80; }
  span.cm-string { color: #3ad900; }
  span.cm-meta { color: #ff9d00; }
  span.cm-variable-2, .cm-s-cobalt span.cm-tag { color: #9effff; }
  span.cm-variable-3, .cm-s-cobalt span.cm-def { color: white; }
  span.cm-bracket { color: #d8d8d8; }
  span.cm-builtin, .cm-s-cobalt span.cm-special { color: #ff9e59; }
  span.cm-link { color: #845dc4; }
  span.cm-error { color: #9d1e15; }

  .CodeMirror-activeline-background {background: #002D57 !important;}
  .CodeMirror-matchingbracket {outline:1px solid grey;color:white !important}
}

.output-window {
	height: 300px;
	overflow-y: scroll;
}

.top-buffer {
	margin-top:10px;
}

.output-text {
	color: #CCC;
	text-align: center;
}

.sql-error {
	font-family: "Lucida Console", Monaco, monospace;
}

.fa6 {
	font-size: 20em;
	opacity: 0.05;
	margin-top: -.6em;
}

.center-middle {
	text-align: center;
	vertical-align: middle;
}
